@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navbar {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.gradiant {
  background: rgb(157, 201, 242);
  background: -moz-linear-gradient(
    159deg,
    rgba(157, 201, 242, 1) 30%,
    rgba(230, 148, 71, 1) 80%
  );
  background: -webkit-linear-gradient(
    159deg,
    rgba(157, 201, 242, 1) 30%,
    rgba(230, 148, 71, 1) 80%
  );
  background: linear-gradient(
    159deg,
    rgba(157, 201, 242, 1) 30%,
    rgba(230, 148, 71, 1) 80%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9dc9f2",endColorstr="#e69447",GradientType=1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  text-transform: uppercase;
}

input::placeholder,
textarea::placeholder {
  /* color: rgb(62, 62, 62); */
  font-weight: 600;
}

input,
textarea {
  padding: 3px;
  padding-left: 8px;
  background-color: transparent;
}

.form-input {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  padding-bottom: 10px;
}

/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
